<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="host" value="http://localhost:7766/" />
    <add key="MongoDbName" value="axiomadb"/>
  </appSettings>
  <connectionStrings>
    <add name="MongoUrl" connectionString="mongodb://localhost:27017" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>